/* Updated on 18.04.2020 dd.mm.yy */


#instructions::after {
  content: " FOR THE BEST RESULTS, USE UI SCALE 0.7 (FULLSCREEN)";
  position: relative;
  color: orangered;
  bottom: -50px;
  right: 500px
}

#instructions {
  left: 70%;
  animation: none;
}

@font-face {
    font-family: gamefont;
    src: url(https://gslevel.github.io/fonts/MilkyNice.ttf);
}

#voiceDisplay {
    opacity: .5;
    z-index: 2;
    position: absolute;
    bottom: 18px;
    left: 303px;
    display: none!important;
}

#uiBase.onMenu #voiceDisplay {
    left: 750px;
    display: none!important
}

#chatHolder {
    position: absolute;
    z-index: 1000;
    width: 280px;
    bottom: 20px;
    left: 20px;
    transition: all 0.5s linear;
}

#uiBase.onMenu #chatHolder {
    left: 150px
}

#chatInput {
    width: 500px;
    padding: 5px;
    padding-left: 50px;
    color: #ffa000;
    font-size: 18px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(0 0 0 / 32%);
    pointer-events: all;
    margin-left: 20px;
    text-align: center;
    height: 70px;
}

#chatInput::placeholder {
    color: rgba(232, 255, 0, 0.7);
}

#chatList {
    overflow-y: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999999;
    pointer-events: all;
    position: relative;
    direction: rtl;
    text-align: center;
    width: 500px;
}

.material-icons {
    background: -webkit-linear-gradient(40deg, rgba(255,226,0,1) 0%, rgba(255,64,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#leaderDisplay {
    text-align: left;
    width: 310px;
    z-index: 3;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(255, 113, 0, 0.7);
    font-size: 23px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 0px 5px black;
    border: orangered 3px solid;
    background: transparent;
    right: 50%;
    transform: translate(50%);
    position: fixed;
    box-shadow: #f1ff00 3px 3px 0px 3px
}

#timerDisplay {
    right: 56%;
    transform: translate(-30%);
    bottom: 89%;
    position: fixed;
}

#timerVal {
  font-size: 60px;
  color: orangered;
  text-shadow: #f1ff00 4px 4px
}

#fpsDisplay {
    right: 30%;
    transform: translate(-40%);
    bottom: 92%;
    position: fixed;
    visibility: hidden;
    text-shadow: #f1ff00 4px 4px
}

#ingameFPS {
  visibility: visible!important;
  color: orangered!important;
  font-size: 50px
}

#pingDisplay::before {
  content: "your ping is "
}

#leaderDisplay::before {
  content: "Leaderboard";
  color: orangered;
  left: 23%;
  position: relative
}

#timerIcon, #pingIcon {
  display: none;
}

#timerDisplay {
  background: transparent
}

#leaderContainer {
    text-align: left;
    color: #ff8900;
}

#hudClassIcon, #challIcon {
    display: none;
}

#healthValue {
    color: #fff;
    font-size: 25px;
    will-change: transform;
    display: inline-block;
    top: 57px;
    position: relative;
}

#maxHP {
    color: rgba(255,255,255,.8);
}

#healthBar {
    display: inline-block;
    height: 50px;
}

.healthBarSeg {
    width: 60px;
    display: inline-table;
    border-radius: 0px;
    height: 100%;
    margin-right: -1px;

}

.hpBSeg {
    width: 70px;
    display: inline-block;
    border-radius: 0px;
    height: 100%;
    box-shadow: 0 0 transparent;
    margin-right: -1px
}

#healthValueHolder {
    background: transparent
}

#chatInput {
    width: 400px!important;
    border-radius: 40px;
    border: orangered 4px solid;
    background: #00000029;
    transition: .7s linear
}

#chatInput:focus {
  border: yellow 4px solid;
  transition: .7s linear
}

::placeholder {
  color: orangered!important
}

#chatList {
    width: 400px!important
}

#mainLogo {
    content: url(https://cdn.discordapp.com/attachments/699663156011729023/761604506475167744/logo_4.png)
}

#ot-sdk-btn-floating.ot-floating-button {
    display: none;
}

#clientExit {
  display: none;
}

#menuRegionLabel::before {
    content: "Region:"
}

#menuFPSDisplay {
    display: none!important
}

#menuFPS span{
    display: block!important
}


#braveWarning {
    visibility: hidden;
}

#braveWarning::before {
    visibility: visible;
    content: "Sub to GS Level and follow LevelTTV";
}


#mLevelCont {
    background-color: transparent;
    top: 60px;
    position: absolute;
    left: 26%!important
}

#signedInHeaderBar {
    left: 40%
}

#mainLogo {
    display: none;
}

#seasonLabel {
    display: none;
}

#mLevelCont:before {
    content: "Level: "
}

#ot-sdk-btn-floating .ot-floating-button__front, #ot-sdk-btn-floating .ot-floating-button__back {
    display: none;
}

a {
    color: orangered!important
}

.progressBarInner {
    background-color: orangered
}

.menuItem {
    padding-top: 5px!important;
    padding-bottom: 1px!important;
    padding-left: 22px!important;
    padding-right: 22px!important;
    font-size: 22px!important;
    margin-left: 3px;
    margin-right: 3px;
    text-shadow: -1px -1px 0 #202020,1px -1px 0 #202020,-1px 1px 0 #202020,1px 1px 0 #202020,-2px -2px 0 #202020,2px -2px 0 #202020,-2px 2px 0 #202020,2px 2px 0 #202020,-3px -3px 0 #202020,3px -3px 0 #202020,-3px 3px 0 #202020,3px 3px 0 #202020!important;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 18px;
    padding-top: 14px;
    margin-bottom: 7px;
    background-color: #ff5e00;
    box-shadow: inset 0 -7px 0 0 #ff4100;
    text-align: center;
    color: #fff;
    text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020, -2px -2px 0 #202020, 2px -2px 0 #202020, -2px 2px 0 #202020, 2px 2px 0 #202020;
    pointer-events: all;
    cursor: pointer;
    -webkit-transition: all .1s;
    transition: all .1s;
    top: -30px
}

.menuItemIcon {
    display: none
}

.menuItem:hover, .button:hover {
    background-color: yellow!important;
    border: none;
    box-shadow: inset 0 -7px 0 0 #ffc300!important;
    -webkit-transform: scale(.95);
    transform: scale(.95)
}

.button {
    background-color: #ff5e00!important;
    box-shadow: inset 0 -7px 0 0 #ff4100!important;
}

#signedInHeaderBar::after {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  position: relative;
  top: 60px;
  left: 150px;
  color: orangered;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
    content: "touch_app";
    cursor: pointer
}

 #signedInHeaderBar {
    top: -110px;
    transition: top .3s linear
}

#signedInHeaderBar:hover {
    top: 0px
} 

.progressBar {
    position: relative;
    top: 15px
}

#mailIcon {
    position:relative;
    left: 70px
}

.krInfo {
    position:relative;
    left: 30px
}

#signedInHeaderBar > div:nth-child(4)  {
    position:relative;
    left: 40px
}

#signedInHeaderBar > div:nth-child(2) {
        position:relative;
    left: 20px
}

.imageButton, #editorBtnM {
    display:none!important;
}

#headerRight {
    background: transparent;
}

#classPreviewCanvas {
    position: relative;
    left: -1200px;
    top: 490px
}

.accountInput {
    text-align: center;
    width: 350px
}
#accPass, .accountButton {
    background-color: orangered;
}

#accName {
    background-color: orangered;
}

#accName:focus, #accPass:focus {
    background-color: yellow;
    transition: background-color .4s linear
}

#menuWindow {
    background-color: transparent;
    box-shadow: transparent 0 0
}

#accResp, #accResp span {
    color: orangered!important;
    text-align: center
}

#menuWindow, #policePopC {
    background: orange!important;
    z-index: 99999
}

.accountInput {
    border-radius: 30px
}

#menuClassSubtext {
    position: relative;
    right: 1600px;
    font-size: 70px;
    top: 550px
}

#menuClassSubtext::before {
    content: "Skin: "
}

#menuClassName::before {
    content: "Class: "
}

#menuClassName {
    position: relative;
    right: 700px;
    font-size: 70px;
    top: 470px
}

#menuClassNameTag {
    position: relative;
    right: 1100px;
    font-size: 70px;
    top: -300px 
}

#classPreviewCanvas {
    top: 430px!important;
    left: -1100px!important
}

#bubbleContainer {
    display: none!important;
}


#aContainer {
    visibility: hidden
}

#subLogoButtons {
    top: 1160px
}

#customizeButton {
    left: -1100px;
    bottom: -300px;
    height: 300px;
    background-color: transparent!important;
    box-shadow: inset 0 -7px 0 0 transparent!important;
    color: transparent;
    text-shadow: -1px -1px 0 transparent,1px -1px 0 transparent,-1px 1px 0 transparent,1px 1px 0 transparent,-2px -2px 0 transparent,2px -2px 0 transparent,-2px 2px 0 transparent,2px 2px 0 transparent,-3px -3px 0 transparent,3px -3px 0 transparent,-3px 3px 0 transparent,3px 3px 0 transparent!important
}

#customizeButton > span {
    background: -webkit-linear-gradient(40deg, transparent 0%, transparent 100%)
}

#customizeButton:hover {
    transform: scale(1)!important
}

#policeButton {
    right: 900px;
    bottom: 30px;
    width: 200px!important
}

#policeButton::after {
    content: "KPD";
    font-size: 30px;
    animation: policeAnim 1s linear infinite
}

@keyframes policeAnim {
    0% {
        color: #14148c;
    }

    50% {
        color: red
    }

    100% {
        color: #14148c;
    }
}

#newsHolder{
    display: none!important;
}

#aMerger {
    visibility: hidden;
}

.serverHeader, .settingsHeader {
    background: transparent
}

.quickJoin {
    background: orangered
}

#termsInfo {
    background-color: orangered;
    height: 50px
}


.classCard{
background: orangered;
border-radius: 40px
}

#youNewDiv {
    display: none;
}

@keyframes open {
    from {
      left: -800px
    }

    to {
        left: 50%
    }
}

#menuWindow {
    animation: open linear .2s;
    width: 1400px!important
}

.sliderSml, #spectButton span {
    visibility: hidden!important
}

.sliderSml::after {
    visibility: visible;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
  content: "preview";
  color: orangered;
  font-size: 100px;
  bottom: 60px;
  right: 70px;
  position: relative
}

.sliderSml:focus {
    visibility: visible;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
  content: "preview";
  color: #f7ff00;
  font-size: 100px;
  bottom: 60px;
  right: 70px;
  position: relative
}

div[style="display:inline-block;vertical-align:top;width:560px;margin-left:10px"] {
  left: 300px;
  position: relative
}

.xpBarB {
  background: orangered!important
}

.settingsBtn {
  color: orange!important;
  background: orangered
}
.slider::before {
  visibility: hidden;
}

.slider::after {
  visibility: visible;
      visibility: visible;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
  content: "power_settings_new";
  color: orangered;
  font-size: 37px;
  left: 12px;
  bottom: 2px;
  position: relative
}

.slider {
  width: 60px;
  padding-left: 0px;
  border-radius: 90px;
  background-color: #802900
}

input:checked+.slider {
  background-color: yellow
}

#streamContainer {
  display: none;
}
