/* Updated on 12.12.2020 dd.mm.yy */


@font-face {
    font-family: gamefont;
    src: url(https://fonts.gstatic.com/s/nunito/v14/XRXW3I6Li01BKofAksCUYevI.woff2);
}

#voiceDisplay {
    opacity: .5;
    z-index: 2;
    position: absolute;
    bottom: 18px;
    left: 303px;
    display: none!important;
}

#uiBase.onMenu #voiceDisplay {
    left: 750px;
    display: none!important
}

#chatHolder {
    position: absolute;
    z-index: 1000;
    width: 280px;
    bottom: 20px;
    left: 20px;
    transition: all 0.5s linear;
}

#uiBase.onMenu #chatHolder {
    left: 150px
}

#chatInput {
    width: 500px;
    padding: 5px;
    padding-left: 50px;
    color: #ffa000;
    font-size: 18px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(0 0 0 / 32%);
    pointer-events: all;
    margin-left: 20px;
    text-align: center;
    height: 70px;
}

#chatInput::placeholder {
    color: rgba(232, 255, 0, 0.7);
}

#chatList {
    overflow-y: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999999;
    pointer-events: all;
    position: relative;
    direction: rtl;
    text-align: center;
    width: 500px;
}

.material-icons {
    background: -webkit-linear-gradient(40deg, rgba(255,226,0,1) 0%, rgba(255,64,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#leaderDisplay {
    text-align: left;
    float: right;
    width: 310px;
    z-index: 3;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(255, 113, 0, 0.7);
    font-size: 23px;
    background-color: #ff710000;
    border-radius: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 0px 5px black;
}

#leaderContainer {
    text-align: left;
    color: #ff8900;
}

#hudClassIcon, #challIcon {
    display: none;
}

#healthValue {
    color: #fff;
    font-size: 25px;
    will-change: transform;
    display: inline-block;
    top: 57px;
    position: relative;
}

#maxHP {
    color: rgba(255,255,255,.8);
}

#healthBar {
    display: inline-block;
    height: 50px;
}

.healthBarSeg {
    width: 60px;
    display: inline-table;
    border-radius: 0px;
    height: 100%;
    margin-right: -1px;

}

.hpBSeg {
    width: 70px;
    display: inline-block;
    border-radius: 0px;
    height: 100%;
    box-shadow: 0 0 transparent;
    margin-right: -1px
}

#healthValueHolder {
    background: transparent
}

#chatInput {
    width: 300px!important
}

#chatList {
    width: 300px!important
}

#mainLogo {
    content: url(https://cdn.discordapp.com/attachments/699663156011729023/761604506475167744/logo_4.png)
}

#ot-sdk-btn-floating.ot-floating-button {
    display: none;
}

#clientExit {
  display: none;
}

#menuRegionLabel::before {
    content: "Region:"
}

#menuFPSDisplay {
    display: none!important
}

#menuFPS span{
    display: block!important
}


#braveWarning {
    visibility: hidden;
}

#braveWarning::before {
    visibility: visible;
    content: "Sub to GS Level and follow LevelTTV";
}


#mLevelCont {
    background-color: transparent;
    top: 60px;
    position: absolute;
    left: 26%!important
}

#signedInHeaderBar {
    left: 40%
}

#mainLogo {
    display: none;
}

#seasonLabel {
    display: none;
}

#mLevelCont:before {
    content: "Level: "
}

#ot-sdk-btn-floating .ot-floating-button__front, #ot-sdk-btn-floating .ot-floating-button__back {
    display: none;
}

a {
    color: orangered!important
}

.progressBarInner {
    background-color: orangered
}

.menuItem {
    padding-top: 5px!important;
    padding-bottom: 1px!important;
    padding-left: 22px!important;
    padding-right: 22px!important;
    font-size: 22px!important;
    margin-left: 3px;
    margin-right: 3px;
    text-shadow: -1px -1px 0 #202020,1px -1px 0 #202020,-1px 1px 0 #202020,1px 1px 0 #202020,-2px -2px 0 #202020,2px -2px 0 #202020,-2px 2px 0 #202020,2px 2px 0 #202020,-3px -3px 0 #202020,3px -3px 0 #202020,-3px 3px 0 #202020,3px 3px 0 #202020!important;
    position: relative;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 18px;
    padding-top: 14px;
    margin-bottom: 7px;
    background-color: #ff5e00;
    box-shadow: inset 0 -7px 0 0 #ff4100;
    text-align: center;
    color: #fff;
    text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020, -2px -2px 0 #202020, 2px -2px 0 #202020, -2px 2px 0 #202020, 2px 2px 0 #202020;
    pointer-events: all;
    cursor: pointer;
    -webkit-transition: all .1s;
    transition: all .1s;
    top: -30px
}

.menuItemIcon {
    display: none
}

.menuItem:hover, .button:hover {
    background-color: yellow!important;
    border: none;
    box-shadow: inset 0 -7px 0 0 #ffc300!important;
    -webkit-transform: scale(.95);
    transform: scale(.95)
}

.button {
    background-color: #ff5e00!important;
    box-shadow: inset 0 -7px 0 0 #ff4100!important;
}
