/* Updated on 7.11.2020 dd.mm.yy */


@font-face {
    font-family: gamefont;
    src: url(https://reizu.moe/fonts/Renogare.ttf)
}

#voiceDisplay {
    opacity: .5;
    z-index: 2;
    position: absolute;
    bottom: 18px;
    left: 303px;
    display: none!important;
}

#uiBase.onMenu #voiceDisplay {
    left: 750px;
    display: none!important
}

#chatHolder {
    position: absolute;
    z-index: 1000;
    width: 280px;
    bottom: 20px;
    left: 20px;
    transition: all 0.5s linear;
}

#uiBase.onMenu #chatHolder {
    left: 150px
}

#chatInput {
    width: 500px;
    padding: 5px;
    padding-left: 50px;
    color: #ffa000;
    font-size: 18px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(0 0 0 / 32%);
    pointer-events: all;
    margin-left: 20px;
    text-align: center;
    height: 70px;
}

#chatInput::placeholder {
    color: rgba(232, 255, 0, 0.7);
}

#chatList {
    overflow-y: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999999;
    pointer-events: all;
    position: relative;
    direction: rtl;
    text-align: center;
    width: 500px;
}

.material-icons {
    background: -webkit-linear-gradient(40deg, rgba(255,226,0,1) 0%, rgba(255,64,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#leaderDisplay {
    text-align: left;
    float: right;
    width: 310px;
    z-index: 3;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(255, 113, 0, 0.7);
    font-size: 23px;
    background-color: #ff710000;
    border-radius: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 0px 5px black;
}

#leaderContainer {
    text-align: left;
    color: #ff8900;
}

#hudClassIcon, #challIcon {
    display: none;
}

#healthValue {
    color: #fff;
    font-size: 20px;
    will-change: transform;
    display: flex;
    top: -240px;
    position: relative;
    flex-direction: column;
    z-index: 9999999999
}

#maxHP {
    color: rgba(255,255,255,.8);
}

#healthBar {
    display: flex;
    height: 200px;
    flex-direction: column;
    bottom: 450px;
    position: relative
}

.healthBarSeg {
    width: 60px;
    display: inline-table;
    border-radius: 0px;
    height: 100%;
    margin-right: 0px;
   background: transparent;
}

.hpBSeg {
    width: 70px;
    display: inline-block;
    border-radius: 0px;
    height: 100%;
    box-shadow: 0 0 transparent
}

#healthValueHolder {
    background: transparent
}

#chatInput {
    width: 300px!important
}

#chatList {
    width: 300px!important
}

#mainLogo {
    content: url(https://cdn.discordapp.com/attachments/699663156011729023/761604506475167744/logo_4.png)
}

#ot-sdk-btn-floating.ot-floating-button {
    display: none;
}

#clientExit {
  display: none;
}
